body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1608px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1608px;
  height:887px;
  overflow:hidden;
}
#u105_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1608px;
  height:887px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1610px;
  height:887px;
  background-image:none;
}
#u106_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:887px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:887px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:436px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:362px;
  width:524px;
  height:37px;
  color:#FFFFFF;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:218px;
  width:191px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u111_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u111.mouseOver {
}
#u111_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 102, 154, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u111.mouseDown {
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:187px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:218px;
  width:190px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u113_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u113.mouseOver {
}
#u113_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 102, 154, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u113.mouseDown {
}
#u114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:186px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  background:linear-gradient(180deg, rgba(66, 139, 202, 1) 0%, rgba(66, 139, 202, 1) 0%, rgba(45, 108, 162, 1) 100%, rgba(45, 108, 162, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:568px;
  width:140px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u115_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u115.mouseOver {
}
#u115_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(45, 108, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(43, 102, 154, 1);
  border-radius:3px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u115.mouseDown {
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:136px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1608px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%, rgba(248, 248, 248, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 231, 231, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1608px;
  height:50px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:1578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#777777;
  text-align:center;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  font-size:18px;
  color:#777777;
  text-align:center;
}
#u119_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#777777;
  text-align:center;
}
#u119.mouseOver {
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1px;
  width:67px;
  height:48px;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u121_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u121.mouseOver {
}
#u121_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:linear-gradient(180deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  -webkit-box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u121.selected {
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:1px;
  width:113px;
  height:48px;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u123_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u123.mouseOver {
}
#u123_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
  background:-webkit-linear-gradient(270deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  background:linear-gradient(180deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(243, 243, 243, 1) 100%, rgba(243, 243, 243, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  -webkit-box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.0666666666666667) inset;
  font-size:14px;
  color:#777777;
  text-align:center;
}
#u123.selected {
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
  background:inherit;
  background-color:rgba(92, 184, 92, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  line-height:23px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:7px;
  width:119px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  line-height:23px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:37px;
  background:inherit;
  background-color:rgba(119, 119, 119, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  line-height:23px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:6px;
  width:103px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  line-height:23px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
